@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dashboard-start{
  grid-area: start;
}
.dashboard-overview{
  grid-area: overview;
}
.dashboard-profile{
  grid-area: profile;
}
.dashboard-onlineMenu{
  grid-area: menu;
}

.dashboard-grid{
  display: grid;
  grid-template-areas: 'start start start start start'
                        'overview overview overview profile profile'
                        'menu menu menu menu menu';
  grid-template-rows: min-content auto auto;

}



/* Login Page */
.login-bg-shadow{
  -webkit-box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.15),
              0px 0px 5px 0px rgba(0,0,0,0.1);
  
}
.rememberMeCheckbox[type=checkbox] {
  accent-color: #4a65f0;
}

.login-form-loading-ani{
  animation: moving 1.2s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

.nextui-tooltip{
  z-index: 9999999 !important;
}