@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dashboard-start{
  grid-area: start;
}
.dashboard-overview{
  grid-area: overview;
}
.dashboard-profile{
  grid-area: profile;
}
.dashboard-activity{
  grid-area: activity;
}

.dashboard-grid{
  display: grid;
  grid-template-areas: 'start start start start start'
                        'overview overview overview profile profile'
                        'activity activity activity activity activity';
  grid-template-rows: min-content auto auto;

}
